.title-students {
  color: rgb(0, 121, 0);
  text-shadow: 2px 2px rgb(0, 0, 0, 0.8);
}
.container-students {
  max-width: 100%;
  max-height: 100%;
}
.card-container-students {
  display: inline-grid;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px;
  box-shadow: -1px 1px 5px 5px rgb(0, 0, 0, 0.5);
  margin: 1%;
}
.card-title-students {
  padding-top: 3px;
}
.card-content-students {
  padding-top: 3px;
}
.card-footer-students {
  padding-bottom: 3px;
}
